.buttonsContainer {
  border-right: solid 3px #888;
  display: flex;
  flex-direction: column;
  background: #CCC;
  height: 100vh;
}

.buttonsContainer > button {
  padding: 10px;
  margin: 4px 10px;
  cursor: pointer;
  /*border-radius: 20px;*/
}

.buttonsContainer > button:hover {
  background: #fff
}

.examplesContainer {
  padding-left: 20px;
  background-color: #ddd;
  width: 100%;
}